<%include header.ejs%>
<div class="container">
    <table class="table table-bordered table-hover text-center">
        <tr>
            <td>分类名称</td>
            <td>分类ID</td>
            <td>操作</td>
        </tr>
        <tr>
            <td>HTML 5</td>
            <td>asdfdsdfgdsf</td>
            <td>
                <a href="javascript:;">修改</a> |
                <a href="javascript:;">删除</a>
            </td>
        </tr>
    </table>
</div>
<%include footer.ejs%>